.header {
  width: 100%;
  height: 200px;
  position: relative;
}

.header > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__main {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__link {
  color: #fff;
}

.header__link > img {
  height: 100%;
  width: 220px;
  object-fit: contain;
  margin-left: 20px;
  cursor: pointer;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  position: relative;
  width: 100%;
}

.header__searchIcon {
  position: absolute;
  right: 25px;
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
}

.header__search > input {
  flex-grow: 1;
  margin: auto 20px;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(42, 42, 42);
  border-radius: 5px;
}

.header__search > input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.header__rightOptions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  margin: 10px;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
}

.header__icon:hover {
  color: rgb(153, 153, 153);
}

.header__rightOptions__Login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__rightOptions__Login:hover > p,
.header__rightOptions__Login:hover > .header__icon {
  color: rgb(153, 153, 153);
}

.header__rightOptions__Login > p {
  width: 100px;
}
