.login {
  width: 100vw;
  height: calc(100vh - 195px);
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.login__container {
  width: 750px;
  height: 500px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

/* Left Section */
.login__leftSection {
  width: 40%;
  padding: 20px;
  border-right: 1px solid rgb(200, 200, 200);
  color: rgb(50, 50, 50);
}

.login__leftSection > h1 {
  margin: 10px 0;
}

.login__leftSection > ul,
.login__leftSection > p {
  margin: 0;
  padding: 10px 15px;
}

.login__leftSection > ul > li {
  line-height: 30px;
}

.login__leftSection > p {
  margin: 10px 0 20px;
}

.login__leftSection > button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(146, 3, 3);
  color: white;
}

/* Right Section */
.login__rightSection {
  width: 50%;
  padding: 20px;
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  position: relative;
}

.login__rightSection > h1 {
  margin: 10px 0;
}

.login__closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.login__inputField {
  display: flex;
  flex-direction: column;
}
